@page
@model PRN221_LeNam_BookStore.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryHe161914[0].Cname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CategoryHe161914) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cname)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Cid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Cid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Cid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
