@page
@model PRN221_LeNam_BookStore.Pages.Login.ForgetPasswordModel
@{
}

<div class="d-flex justify-content-center mt-5">
    <div class="bg-info bg-opacity-25 w-50 p-4 rounded-3 pb-5">
        <h4 class="text-center mb-3">Đăng kí tài khoản</h4>
        <label for="to">Mail đăng ký</label>
        <form id="sendMail" method="post">
            <div class="form-group" style="display: flex">
                <input type="email" class="form-control" id="to" name="to" placeholder="Mail" asp-for="@SendMailForgetModel.MailReceive" />
                <button type="submit" class="btn btn-primary" style="margin-left: 2px">Gửi</button>
            </div>
            <label style="color:red">@SendMailForgetModel.MailNotExist</label>
        </form>
        <form method="post">
            <input class="form-control mt-4" type="number" placeholder="Code" name="Code" id="Code" />
            <p>@ViewData["Error5"]</p>
            <p>@ViewData["Error6"]</p>
            

            <input class="form-control" type="email" placeholder="Email" id="emailCopy" name="emailCopy" asp-for="Person.Email" value="@SendMailForgetModel.MailReceive" hidden />

            <div>
                <input class="btn btn-primary" type="submit" value="Xác nhận" />
            </div>
        </form>
        <hr />
    </div>
</div>

<script>

    function handleResponse(response) {
        if (response.status === 200) {
            // Kiểm tra loại nội dung của phản hồi
            if (response.headers.get("Content-Type") === "application/json") {
                // Phản hồi là JSON
                const data = JSON.parse(response.text);

                // Kiểm tra xem phản hồi có chứa thông tin lỗi không
                if (data.error) {
                    // Phản hồi chứa thông tin lỗi
                    alert(data.error);
                }
            } else {
                // Phản hồi không phải JSON
                // Xử lý phản hồi theo cách khác
            }
        }
    }
    // Hàm gửi yêu cầu HTTP
    function sendRequest() {
        // Lấy toàn bộ dữ liệu trong form
        const formData = new FormData(document.getElementById("sendMail"));
        const currentHostAndPort = window.location.host;        
        const request = new Request(`http://${currentHostAndPort}/Login/SendMailForget`, {
            method: "POST",
            body: formData
        });

        // Gửi yêu cầu
        fetch(request)
            .then(response => {
                // Xử lý phản hồi
                handleResponse(response);
            })
            .catch(error => {
                // Xử lý lỗi
                console.log(error);
            });
    }

    // Thêm sự kiện click vào nút submit
    document.getElementById("sendMail").addEventListener("submit", sendRequest);
</script>

<script>
    var input = document.getElementById('to');
    var emailCopy = document.getElementById('emailCopy');
    input.addEventListener('change', function () {
        emailCopy.value = input.value;
    });
</script>
